<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GetDataInformationSystem</servlet-name>
        <servlet-class>src.GetDataInformationSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDataInformationSystem</servlet-name>
        <servlet-class>src.AddDataInformationSystem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetDataInformationSystem</servlet-name>
        <url-pattern>/GetDataInformationSystem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDataInformationSystem</servlet-name>
        <url-pattern>/AddDataInformationSystem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
